<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test HTML avec Express</title>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
</head>
<body>

	<h1>Bienvenue sur ce tchat tout en Node JS !</h1>

	<input type="text">
	<button id='send'>Envoyer</button>

	<p></p>

	<button id='server'>Message du serveur ?</button>

	<script>

		var socket = io();

		var btn = document.getElementById('send');
		btn.addEventListener('click', function(){
			socket.emit('msg', 'Un super message !')
		});

		socket.on('confirm', function(msg){
			document.getElementsByTagName('p')[0].innerHTML = msg;
		});

	</script>
	
</body>
</html>